<h1>Student#index</h1>
<br>
<h1> Student Buzz <h1>

<button><a href='/s_posts/new'>Create Post<a></button>

<table>

<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title:</th>
    <th>Text:</th>
    <th>Person:</th>
  </tr>
  <% @s_post.each do |s_post| %>
    <tr>
      <td><i></i><%= s_post.title %></td>
      <td><i></i><%= s_post.text %></td>
      <td><i></i><%= s_post.id %></td>
    </tr>
  <% end %>
</table>